In [1]:
import pandas as pd
import numpy as np

In [2]:
df=  pd.read_csv("/content/Autolib_dataset (2).csv")
df

                                 Address  Cars  ...  hour  minute
0                    2 Avenue de Suffren     0  ...    11      43
1              145 Rue Raymond Losserand     6  ...     7      24
2       2 Avenue John Fitzgerald Kennedy     3  ...    20      14
3                 51 Rue EugÃ¨ne OudinÃ©     3  ...     4      37
4     6 avenue de la Porte de Champerret     3  ...    17      23
...                                  ...   ...  ...   ...     ...
4995                 8 avenue MÃ©nelotte     2  ...    11      26
4996                   37 rue de Dantzig     4  ...    16      56
4997                      142 rue du Bac     1  ...     7       1
4998         2 avenue du Val de Fontenay     2  ...    17      27
4999                 5 Rue Henry Brisson     4  ...    10       2

[5000 rows x 25 columns]

DATA CLEANING

In [3]:
df.values

array([['2 Avenue de Suffren', 0, 0, ..., 8, 11, 43],
       ['145 Rue Raymond Losserand', 6, 6, ..., 6, 7, 24],
       ['2 Avenue John Fitzgerald Kennedy', 3, 3, ..., 3, 20, 14],
       ...,
       ['142 rue du Bac', 1, 1, ..., 1, 7, 1],
       ['2 avenue du Val de Fontenay', 2, 2, ..., 4, 17, 27],
       ['5 Rue Henry Brisson', 4, 4, ..., 8, 10, 2]], dtype=object)

In [4]:
df.info

<bound method DataFrame.info of                                  Address  Cars  ...  hour  minute
0                    2 Avenue de Suffren     0  ...    11      43
1              145 Rue Raymond Losserand     6  ...     7      24
2       2 Avenue John Fitzgerald Kennedy     3  ...    20      14
3                 51 Rue EugÃ¨ne OudinÃ©     3  ...     4      37
4     6 avenue de la Porte de Champerret     3  ...    17      23
...                                  ...   ...  ...   ...     ...
4995                 8 avenue MÃ©nelotte     2  ...    11      26
4996                   37 rue de Dantzig     4  ...    16      56
4997                      142 rue du Bac     1  ...     7       1
4998         2 avenue du Val de Fontenay     2  ...    17      27
4999                 5 Rue Henry Brisson     4  ...    10       2

[5000 rows x 25 columns]>

In [5]:
df.dtypes

Address                object
Cars                    int64
Bluecar counter         int64
Utilib counter          int64
Utilib 1.4 counter      int64
Charge Slots            int64
Charging Status        object
City                   object
Displayed comment      object
ID                     object
Kind                   object
Geo point              object
Postal code             int64
Public name            object
Rental status          object
Scheduled at           object
Slots                   int64
Station type           object
Status                 object
Subscription status    object
year                    int64
month                   int64
day                     int64
hour                    int64
minute                  int64
dtype: object

In [6]:
df["Displayed comment"].unique()

array([nan, 'Station en parking (niv -1), accÃ¨s 37 rue Leblanc',
       'Station en parking (niv 0), accÃ¨s 26 villa Croix Nivert',
       'Station en parking (niv -2), accÃ¨s 4 av. Foch',
       "Borne d'abonnement en sous-sol (niv -1), accÃ¨s 4 rue Lobau",
       'Station en parking (niv -1), accÃ¨s rue Wilson',
       'Station en parking (niv -1), accÃ¨s Place Georges Pompidou',
       'Station en parking (niv -3), accÃ¨s 32 rue dâ\x80\x99Alsace',
       'Station en parking (niv -2), accÃ¨s 2 avenue Gabriel',
       'Station en parking (niv -1), accÃ¨s av. de Versailles',
       'Station en parking (niv -1), accÃ¨s rue Abel Gance',
       'Station en parking (niv -1), accÃ¨s 4 av. des Ternes',
       'Station en parking (niv -1), Station B (sur la droite)',
       'Station en parking',
       'Station en parking (niv -2), accÃ¨s 125 bvd du Montparnasse',
       'Station en parking (niv -1), Station A (sur la gauche)',
       'Station en parking (niv -1), accÃ¨s 8 rue Louise Michel',
       'Station en parking (niv -1), accÃ¨s 26 bvd Gouvion Saint-Cyr',
       'Station en parking (niv -1), accÃ¨s rue Marjolin',
       'Station en parking (niv -1), accÃ¨s 141 rue Lecourbe',
       'Station en parking (niv -1), accÃ¨s 37 rue Wilson',
       'Station en parking (niv -2), accÃ¨s 155 rue de Rennes',
       'Station en parking (niv -1), accÃ¨s av. gÃ©n Sarrail',
       'Station en parking (niv -1), accÃ¨s 33 rue Ernest Cognacq',
       'Station en parking (niv -1), accÃ¨s 80 rue Wilson',
       "Station en parking (niv -1), accÃ¨s 29 quai d'Austerlitz"],
      dtype=object)

In [7]:
df["Scheduled at"].unique()

array([nan, '2016-07-27T15:32:21', '2016-07-05T13:10:09',
       '2015-09-29T13:58:29', '2016-04-26T14:28:01',
       '2012-09-17T08:57:28', '2016-01-06T10:35:38',
       '2018-01-03T10:52:00', '2016-07-27T15:32:22'], dtype=object)

In [8]:
df.describe()

              Cars  Bluecar counter  ...         hour       minute
count  5000.000000      5000.000000  ...  5000.000000  5000.000000
mean      2.333600         2.333600  ...    11.509200    29.270000
std       2.035274         2.035274  ...     6.893549    17.231741
min       0.000000         0.000000  ...     0.000000     0.000000
25%       0.000000         0.000000  ...     6.000000    14.000000
50%       2.000000         2.000000  ...    11.000000    29.000000
75%       4.000000         4.000000  ...    18.000000    44.000000
max       7.000000         7.000000  ...    23.000000    59.000000

[8 rows x 12 columns]

In [9]:
df.isna().any()

Address                False
Cars                   False
Bluecar counter        False
Utilib counter         False
Utilib 1.4 counter     False
Charge Slots           False
Charging Status        False
City                   False
Displayed comment       True
ID                     False
Kind                   False
Geo point              False
Postal code            False
Public name            False
Rental status          False
Scheduled at            True
Slots                  False
Station type           False
Status                 False
Subscription status    False
year                   False
month                  False
day                    False
hour                   False
minute                 False
dtype: bool

In [10]:
df.isna().sum()

Address                   0
Cars                      0
Bluecar counter           0
Utilib counter            0
Utilib 1.4 counter        0
Charge Slots              0
Charging Status           0
City                      0
Displayed comment      4889
ID                        0
Kind                      0
Geo point                 0
Postal code               0
Public name               0
Rental status             0
Scheduled at           4953
Slots                     0
Station type              0
Status                    0
Subscription status       0
year                      0
month                     0
day                       0
hour                      0
minute                    0
dtype: int64

In [11]:
df.drop(['Geo point','Scheduled at','Displayed comment'], axis = 1,inplace = True)

In [12]:
df.head()

                              Address  Cars  Bluecar counter  ...  day  hour  minute
0                 2 Avenue de Suffren     0                0  ...    8    11      43
1           145 Rue Raymond Losserand     6                6  ...    6     7      24
2    2 Avenue John Fitzgerald Kennedy     3                3  ...    3    20      14
3              51 Rue EugÃ¨ne OudinÃ©     3                3  ...    4     4      37
4  6 avenue de la Porte de Champerret     3                3  ...    8    17      23

[5 rows x 22 columns]

In [13]:
df.isna().sum()

Address                0
Cars                   0
Bluecar counter        0
Utilib counter         0
Utilib 1.4 counter     0
Charge Slots           0
Charging Status        0
City                   0
ID                     0
Kind                   0
Postal code            0
Public name            0
Rental status          0
Slots                  0
Station type           0
Status                 0
Subscription status    0
year                   0
month                  0
day                    0
hour                   0
minute                 0
dtype: int64

In [14]:
df.isna().any()

Address                False
Cars                   False
Bluecar counter        False
Utilib counter         False
Utilib 1.4 counter     False
Charge Slots           False
Charging Status        False
City                   False
ID                     False
Kind                   False
Postal code            False
Public name            False
Rental status          False
Slots                  False
Station type           False
Status                 False
Subscription status    False
year                   False
month                  False
day                    False
hour                   False
minute                 False
dtype: bool

In [15]:
df.drop_duplicates().any()

Address                True
Cars                   True
Bluecar counter        True
Utilib counter         True
Utilib 1.4 counter     True
Charge Slots           True
Charging Status        True
City                   True
ID                     True
Kind                   True
Postal code            True
Public name            True
Rental status          True
Slots                  True
Station type           True
Status                 True
Subscription status    True
year                   True
month                  True
day                    True
hour                   True
minute                 True
dtype: bool

In [16]:
df['Status'].str.strip()

0       ok
1       ok
2       ok
3       ok
4       ok
        ..
4995    ok
4996    ok
4997    ok
4998    ok
4999    ok
Name: Status, Length: 5000, dtype: object

In [17]:
x = df['ID'].value_counts()
x

paris-portedemontrouge-8        13
paris-grenelle31-parking        11
paris-voltaire-182              11
sevres-wolfenbuttel-1           11
paris-mathis-35                 11
                                ..
paris-jeanveber-3                1
paris-pierre1erdeserbie-33       1
yerres-raymondpoincare-200       1
paris-chausseedantin-5           1
charentonlepont-jeanjaures-4     1
Name: ID, Length: 1105, dtype: int64

In [18]:
#Number of cars available at the station - redundant with Bluecar counter, always the same
#value so we are going to use the numpy np.select(conditions choices)

conditions = [df['Cars'] == df['Bluecar counter']]

choices = [True]

#creating a new column in the DataFrame that shows results of comparisons
df['Equal'] = np.select(conditions, choices, default='False')

df['Equal'].unique()

array(['True'], dtype=object)

In [19]:
#Whether the station is operational for recharging. Mainly &quot;nonexistent&quot;, &quot;operational&quot; or
#&quot;broken&quot;: charge slots can only be greater than 0 when &quot;operational&quot;; slots and vehicles can be
#available in all situations (except future stations that have 0 resources)
# we are going to work with the above description using the numpy np.select(condition choices)method.
# 1
conditions = [(df['Charging Status'] == 'future') & (df['Bluecar counter']== 0)]

choices = [True]


#creating a new column in the DataFrame that shows results of comparisons
#Autolib_df['Future'] = np.select(conditions, choices, default='False')
df['Future'] = np.select(conditions, choices, default ='False')

df['Future']

0       False
1       False
2       False
3       False
4       False
        ...
4995    False
4996    False
4997    False
4998    False
4999    False
Name: Future, Length: 5000, dtype: object

In [20]:
df['Charging Status'].unique()

array(['nonexistent', 'operational', 'broken'], dtype=object)

In [21]:
# 2

conditions = [(df['Charging Status'] == 'future') & (df['Charge Slots'] >= 0)]

choices = [True]

#creating a new column in  the DataFrame that shows results of comparisons
df['Charge_status_slots'] = np.select(conditions, choices, default='False')

df['Charge_status_slots'].unique()

array(['False'], dtype=object)

In [22]:
df['Station type'].unique()

array(['station', 'full_station', 'subs_center'], dtype=object)

In [23]:
#No resources available for &quot;subs_center&quot; - which is just one location. Was that actually a selling
#point for Autolib subscriptions?


conditions = [df['Station type'] == 'subs_center', 
              df['Bluecar counter']== 0]

choices = ['A', 'B']


df['winner'] = np.select(conditions, choices, default='Tie')

df[['Bluecar counter','Station type']]

      Bluecar counter Station type
0                   0      station
1                   6      station
2                   3      station
3                   3      station
4                   3      station
...               ...          ...
4995                2      station
4996                4      station
4997                1      station
4998                2      station
4999                4      station

[5000 rows x 2 columns]

In [24]:
df

                                 Address  Cars  ...  Charge_status_slots  winner
0                    2 Avenue de Suffren     0  ...                False       B
1              145 Rue Raymond Losserand     6  ...                False     Tie
2       2 Avenue John Fitzgerald Kennedy     3  ...                False     Tie
3                 51 Rue EugÃ¨ne OudinÃ©     3  ...                False     Tie
4     6 avenue de la Porte de Champerret     3  ...                False     Tie
...                                  ...   ...  ...                  ...     ...
4995                 8 avenue MÃ©nelotte     2  ...                False     Tie
4996                   37 rue de Dantzig     4  ...                False     Tie
4997                      142 rue du Bac     1  ...                False     Tie
4998         2 avenue du Val de Fontenay     2  ...                False     Tie
4999                 5 Rue Henry Brisson     4  ...                False     Tie

[5000 rows x 26 columns]

DATA ANALYSIS

In [25]:
# Identify the most popular hour of the day for picking up a shared electric car 
# (Bluecar) in the city of Paris over the month of April 2018.

y = df[(df['month']== 4) & (df['year'] == 2018)&(df['City']=='Paris')&(df['Bluecar counter'] > 0)]['hour'].value_counts().max()

df.loc[y]['hour']

6

In [26]:
# What is the most popular hour for returning cars?
df.loc[df['Rental status']== 'nonexistent'].hour.max()

13

In [34]:
# What station is the most popular?
# Overall?
df['Public name'].max()

'Ã\x89pinay-sur-Seine/Foch/53'

In [28]:
# At the most popular picking hour?
x =df.loc[df['Rental status']=='operational']['hour'].value_counts().max()
df.loc[x]['Public name']

'Paris/RÃ©aumur/38'

In [29]:
#What postal code is the most popular for picking up Blue cars? overall?
y=df.loc[df['Rental status']=='operational']['Bluecar counter'].value_counts().max()
df.loc[y]['Postal code']

92140

In [30]:
#Does the most popular station belong to that postal code?
df.loc[y]

Address                  1 Place Ferrari
Cars                                   2
Bluecar counter                        2
Utilib counter                         0
Utilib 1.4 counter                     0
Charge Slots                           0
Charging Status              nonexistent
City                             Clamart
ID                     clamart-ferrari-1
Kind                             STATION
Postal code                        92140
Public name            Clamart/Ferrari/1
Rental status                operational
Slots                                  1
Station type                     station
Status                                ok
Subscription status          nonexistent
year                                2018
month                                  4
day                                    6
hour                                  18
minute                                58
Equal                               True
Future                             False
Charge_status_slots                False
winner                               Tie
Name: 1065, dtype: object

In [33]:
df.loc[y]['Public name']

'Clamart/Ferrari/1'

In [35]:
#What postal code is the most popular for picking up Blue cars?
#At the most popular picking hour?
y=df.loc[df['Rental status']=='operational'][df['Bluecar counter']>0]['hour'].value_counts().max()
df.loc[y]['Postal code']

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:3: UserWarning: Boolean Series key will be reindexed to match DataFrame index.
  This is separate from the ipykernel package so we can avoid doing imports until

75011

In [36]:
#Do the results change if you consider Utilib and Utilib 1.4 instead of Blue cars? 

df.groupby('Bluecar counter').count()

                 Address  Cars  ...  Charge_status_slots  winner
Bluecar counter                 ...
0                   1447  1447  ...                 1447    1447
1                    663   663  ...                  663     663
2                    628   628  ...                  628     628
3                    672   672  ...                  672     672
4                    636   636  ...                  636     636
5                    574   574  ...                  574     574
6                    341   341  ...                  341     341
7                     39    39  ...                   39      39

[8 rows x 25 columns]

In [37]:
df

                                 Address  Cars  ...  Charge_status_slots  winner
0                    2 Avenue de Suffren     0  ...                False       B
1              145 Rue Raymond Losserand     6  ...                False     Tie
2       2 Avenue John Fitzgerald Kennedy     3  ...                False     Tie
3                 51 Rue EugÃ¨ne OudinÃ©     3  ...                False     Tie
4     6 avenue de la Porte de Champerret     3  ...                False     Tie
...                                  ...   ...  ...                  ...     ...
4995                 8 avenue MÃ©nelotte     2  ...                False     Tie
4996                   37 rue de Dantzig     4  ...                False     Tie
4997                      142 rue du Bac     1  ...                False     Tie
4998         2 avenue du Val de Fontenay     2  ...                False     Tie
4999                 5 Rue Henry Brisson     4  ...                False     Tie

[5000 rows x 26 columns]

USING UTILIB COUNTER AND UTILIB 1.4 COUNTER IN OUR ANALYSIS INSTEAD OF BLUE CARS

In [38]:
# Do the results change if you consider Utilib and Utilib 1.4 instead of Blue cars?

#What postal code is the most popular for picking up Utilib counter?
#At the most popular picking hour?

y=df.loc[df['Rental status']=='operational'][df['Utilib counter']>0]['hour'].value_counts().max()
df.loc[y]['Postal code']

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:4: UserWarning: Boolean Series key will be reindexed to match DataFrame index.
  after removing the cwd from sys.path.

75011

In [39]:
#What postal code is the most popular for picking up utilib 1.4 counter?
#At the most popular picking hour?
y=df.loc[df['Rental status']=='operational'][df['Utilib 1.4 counter']>0]['hour'].value_counts().max()
df.loc[y]['Postal code']

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:2: UserWarning: Boolean Series key will be reindexed to match DataFrame index.

92210

In [40]:
#What postal code is the most popular for picking up Utilib counter? overall?
y=df.loc[df['Rental status']=='operational']['Utilib counter'].value_counts().max()
df.loc[y]['Postal code']

92000

In [41]:
#What postal code is the most popular for picking up utilib 1.4 counter? overall?
y=df.loc[df['Rental status']=='operational']['Utilib 1.4 counter'].value_counts().max()
df.loc[y]['Postal code']

75020

In [42]:
# Identify the most popular hour of the day for picking up a shared electric car 
# (Utilib counter) in the city of Paris over the month of April 2018.

y = df[(df['month']== 4) & (df['year'] == 2018)&(df['City']=='Paris')&(df['Utilib counter'] > 0)]['hour'].value_counts().max()

df.loc[y]['hour']

12

In [43]:
# Identify the most popular hour of the day for picking up a shared electric car 
# (Utilib 1.4 counter) in the city of Paris over the month of April 2018.

y = df[(df['month']== 4) & (df['year'] == 2018)&(df['City']=='Paris')&(df['Utilib 1.4 counter'] > 0)]['hour'].value_counts().max()

df.loc[y]['hour']

20